.sidebar {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;

    color: #eee;
    background-color: #389adc;

    .task-titles {
        height: calc(100% - 170px - 100px);
        overflow-y: auto;
        margin-top: 170px;
        padding: 10px;
    }

    .sidebar-top {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;

        .logo {
            width: 100%;
            padding: 30px;
        }
    }

    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100px;

        display: flex;
        display: -webkit-flex;
        flex-direction:         column;
        -webkit-flex-direction: column;
        align-items: center;
        -webkit-align-items: center;

        a {
            color: #ddd;
        }
    }
}

html, body {
    height: 100%;

    .top-container {
        width: 100%;
        height: 100%;
        background: #4990E2;

        display: flex;
        display: -webkit-flex;

        flex-direction:         column;
        -webkit-flex-direction: column;
        justify-content: center;
        -webkit-justify-content: center;
        align-items: center;
        -webkit-align-items: center;

        .top-logo {
            width: 300px;
            margin: 50px auto;
        }

        .top-oauth-link {
            font-size: 20px;
            color: #EFEFEF;
            font-weight: lighter;
        }
    }
}

main {
    padding: 20px;
    margin-left: 300px;
}
