{% extends "base" %}

{% block title %}Hello!{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/style.css">
    <base href="/" />
{% endblock %}

{% block header %}
<div class="container">
    <h1 style="color: #eeeeee">Kobin is a small and statically-typed web framework.</h1>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <app-task>Loading...</app-task>
</div>
{% endblock %}

{% block extrafooter %}
{{ super() }}
<script src="/static/js/bundle.js"></script>
{% endblock %}
