{% extends "base" %}

{% block title %}Kobin TODO{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/style.css">
    <base href="/" />
{% endblock %}

{% block header %}
    <img class="logo" src="/static/img/kobin.png">
    <a class="btn btn-default" href="https://github.com/login/oauth/authorize?client_id=9fbe39b8584d366afd85">Github OAuth</a>
{% endblock %}

{% block main %}
    <app-task>Loading...</app-task>
{% endblock %}

{% block footer %}
    <p>Powered by Kobin</p>
{% endblock %}

{% block extrafooter %}
{{ super() }}
<script src="/static/js/bundle.js"></script>
{% endblock %}
