{% extends "base" %}

{% block title %}Kobin TODO{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/css/style.css">
    <base href="/" />
{% endblock %}

{% block header %}
<div class="container">
    <h1 style="color: #eeeeee">Kobin TODO</h1>
</div>
{% endblock %}

{% block main %}
<div class="container">
    <a href="https://github.com/login/oauth/authorize?client_id=9fbe39b8584d366afd85">Github Auth</a>
    <app-task>Loading...</app-task>
</div>
{% endblock %}

{% block extrafooter %}
{{ super() }}
<script src="/static/js/bundle.js"></script>
{% endblock %}
