#sidebar {
    position: fixed;
    width: 300px;
    top: 0;
    left: 0;
    height: 100%;

    color: #eee;
    background-color: #389adc;

    header {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 10px;
    }

    footer {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        p {
            text-align: center;
            margin-bottom: 10px;
        }
    }

    .logo {
        width: 100%;
        padding: 30px;
    }
}

main {
    margin-left: 300px;
}
