Beaker==1.8.0
click==6.6
gunicorn==19.6.0
Jinja2==2.8
kobin==0.0.6
MarkupSafe==0.23
redis==2.10.5
requests==2.10.0
six==1.10.0
SQLAlchemy==1.0.13
wsgi-lineprof==0.2.0
wsgi-static-middleware==0.1.0
wsgicli==0.2.1
